# Pandas Tutorial - Practice Example

In this tutorial we are going to use the data from the Cambridge University Digital Technology Group. They have been recording the weather from the roof of their department building since 1995 and make the data available to download at [https://www.cl.cam.ac.uk/research/dtg/weather/](https://www.cl.cam.ac.uk/research/dtg/weather/). We will read the entire dataset and parse it with pandas to determine the correlations between many features and rainfall. 

Further guide can be found from the Pandas Documentation at [https://pandas.pydata.org/docs/user_guide/index.html#user-guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide).

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_url = 'https://www.cl.cam.ac.uk/research/dtg/weather/weather-raw.csv'
df = pd.read_csv(data_url, header=None, names=['Datetime','Temperature','Humidity','DewPoint','Pressure','MeanWindSpeed','AveWindBearing','Sunshine','Rainfall','MaxWindSpeed'])
df.to_csv('data/weather-raw.csv')

In [3]:
df

,Datetime,Temperature,Humidity,DewPoint,Pressure,MeanWindSpeed,AveWindBearing,Sunshine,Rainfall,MaxWindSpeed
0,1995-06-30 15:00:00,295.0,43.0,156.0,1013.0,14.0,225.0,1044,0,14.0
1,1995-06-30 15:30:00,305.0,36.0,140.0,1013.0,13.0,315.0,50,0,13.0
2,1995-06-30 16:00:00,311.0,41.0,163.0,1013.0,12.0,315.0,51,0,12.0
3,1995-06-30 16:30:00,322.0,43.0,181.0,1013.0,2.0,315.0,50,0,2.0
4,1995-06-30 17:00:00,327.0,41.0,178.0,1013.0,8.0,225.0,51,0,8.0
...,...,...,...,...,...,...,...,...,...,...
458536,2021-12-23 10:30:00,52.0,99.0,50.0,1006.0,25.0,180.0,0,0,120.0
458537,2021-12-23 11:00:00,56.0,98.0,53.0,1005.0,6.0,135.0,0,0,60.0
458538,2021-12-23 11:30:00,56.0,96.0,50.0,1005.0,13.0,180.0,0,0,80.0
458539,2021-12-23 12:00:00,60.0,94.0,51.0,1005.0,20.0,180.0,0,0,100.0
458540,2021-12-23 12:30:00,64.0,90.0,49.0,1004.0,48.0,180.0,0,0,140.0

In [4]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [5]:
df['Temperature'] = df['Temperature']/10

In [6]:
df['DewPoint'] = df['DewPoint']/10

In [7]:
# change the unit of pressure from mbar to in Hg
df["Pressure"] = df["Pressure"]*0.02953

In [8]:
df['Temperature'].describe()

count    458491.000000
mean         10.599058
std           6.589602
min         -40.000000
25%           5.600000
50%          10.000000
75%          15.000000
max          40.000000
Name: Temperature, dtype: float64

In [9]:
# Add a column
df['WeekDay'] = 0

import datetime as dt
df['WeekDay'] = df['Datetime'].apply(lambda x: x.weekday())
df['WeekDayName'] = df['Datetime'].dt.day_name()

In [10]:
df.drop(columns=['WeekDay'],inplace=True)
df

,Datetime,Temperature,Humidity,DewPoint,Pressure,MeanWindSpeed,AveWindBearing,Sunshine,Rainfall,MaxWindSpeed,WeekDayName
0,1995-06-30 15:00:00,29.5,43.0,15.6,29.91389,14.0,225.0,1044,0,14.0,Friday
1,1995-06-30 15:30:00,30.5,36.0,14.0,29.91389,13.0,315.0,50,0,13.0,Friday
2,1995-06-30 16:00:00,31.1,41.0,16.3,29.91389,12.0,315.0,51,0,12.0,Friday
3,1995-06-30 16:30:00,32.2,43.0,18.1,29.91389,2.0,315.0,50,0,2.0,Friday
4,1995-06-30 17:00:00,32.7,41.0,17.8,29.91389,8.0,225.0,51,0,8.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...
458536,2021-12-23 10:30:00,5.2,99.0,5.0,29.70718,25.0,180.0,0,0,120.0,Thursday
458537,2021-12-23 11:00:00,5.6,98.0,5.3,29.67765,6.0,135.0,0,0,60.0,Thursday
458538,2021-12-23 11:30:00,5.6,96.0,5.0,29.67765,13.0,180.0,0,0,80.0,Thursday
458539,2021-12-23 12:00:00,6.0,94.0,5.1,29.67765,20.0,180.0,0,0,100.0,Thursday
458540,2021-12-23 12:30:00,6.4,90.0,4.9,29.64812,48.0,180.0,0,0,140.0,Thursday

In [11]:
df.rename(columns={'WeekDayName':'WeekDay'}, inplace=True)
df

,Datetime,Temperature,Humidity,DewPoint,Pressure,MeanWindSpeed,AveWindBearing,Sunshine,Rainfall,MaxWindSpeed,WeekDay
0,1995-06-30 15:00:00,29.5,43.0,15.6,29.91389,14.0,225.0,1044,0,14.0,Friday
1,1995-06-30 15:30:00,30.5,36.0,14.0,29.91389,13.0,315.0,50,0,13.0,Friday
2,1995-06-30 16:00:00,31.1,41.0,16.3,29.91389,12.0,315.0,51,0,12.0,Friday
3,1995-06-30 16:30:00,32.2,43.0,18.1,29.91389,2.0,315.0,50,0,2.0,Friday
4,1995-06-30 17:00:00,32.7,41.0,17.8,29.91389,8.0,225.0,51,0,8.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...
458536,2021-12-23 10:30:00,5.2,99.0,5.0,29.70718,25.0,180.0,0,0,120.0,Thursday
458537,2021-12-23 11:00:00,5.6,98.0,5.3,29.67765,6.0,135.0,0,0,60.0,Thursday
458538,2021-12-23 11:30:00,5.6,96.0,5.0,29.67765,13.0,180.0,0,0,80.0,Thursday
458539,2021-12-23 12:00:00,6.0,94.0,5.1,29.67765,20.0,180.0,0,0,100.0,Thursday
458540,2021-12-23 12:30:00,6.4,90.0,4.9,29.64812,48.0,180.0,0,0,140.0,Thursday

In [12]:
df['Month'] = df['Datetime'].dt.month_name()

In [13]:
df['Year'] = df['Datetime'].dt.year

In [14]:
df['Time'] = df['Datetime'].dt.time

In [15]:
df['Time'] = df['Time'].apply(lambda x: x.strftime("%H:%M"))

In [16]:
df.set_index('Datetime',inplace=True)

In [17]:
# Probability of a nice Saturday. 
filter = (df['WeekDay']=='Saturday') & (df['Rainfall']==0) & (df['Temperature']>=10.6) & (df['MaxWindSpeed']<=115)
df[filter].shape[0]/df[df['WeekDay']=='Saturday'].shape[0]

0.22251096809697785

In [18]:
# Aggregate Statistics

# Study the rainfall: find the year with the highest overall rainfall
Year_Group = df.groupby(['Year'])
Year_Group.max()
Year_Group['Rainfall'].max() # this is the single day max in a year, not accumulative overall rainfall in a year
Year_Group['Rainfall'].sum()
#plt.plot(Year_Group['Rainfall'].sum())
Year_Group['Rainfall'].value_counts(normalize = True)

# Find the month of the year with the highest overall rainfall
Month_Group = df.groupby(['Month'])
Month_Group['Rainfall'].sum() # this is not what we want, because we do not want to add up month numbers over the years.

Month_Group = df.groupby(['Year','Month'])
for group_key, group_value in Month_Group:
    print(group_key,Month_Group.get_group(group_key)['Rainfall'].sum())

Month_Group.count()['Rainfall']
Month_Group.sum()['Rainfall'].nlargest(10)

(1995, 'August') 11460
(1995, 'December') 104460
(1995, 'July') 24730
(1995, 'June') 0
(1995, 'November') 24920
(1995, 'October') 11570
(1995, 'September') 168510
(1996, 'April') 6900
(1996, 'August') 59660
(1996, 'December') 26970
(1996, 'February') 55800
(1996, 'January') 47250
(1996, 'July') 41180
(1996, 'June') 5030
(1996, 'March') 33580
(1996, 'May') 26570
(1996, 'November') 78360
(1996, 'October') 28030
(1996, 'September') 6940
(1997, 'April') 15870
(1997, 'August') 57640
(1997, 'December') 60300
(1997, 'February') 40580
(1997, 'January') 9910
(1997, 'July') 28500
(1997, 'June') 152720
(1997, 'March') 10800
(1997, 'May') 48650
(1997, 'November') 27410
(1997, 'October') 43110
(1997, 'September') 13340
(1998, 'April') 92510
(1998, 'August') 11980
(1998, 'December') 45030
(1998, 'February') 5050
(1998, 'January') 36950
(1998, 'July') 16770
(1998, 'June') 108920
(1998, 'March') 24320
(1998, 'May') 6930
(1998, 'November') 45170
(1998, 'October') 68660
(1998, 'September') 85200
(1999, 'April') 20050
(1999, 'August') 73520
(1999, 'December') 33700
(1999, 'February') 23940
(1999, 'January') 38590
(1999, 'July') 15550
(1999, 'June') 69420
(1999, 'March') 37070
(1999, 'May') 40670
(1999, 'November') 20180
(1999, 'October') 8850
(1999, 'September') 57470
(2000, 'April') 66650
(2000, 'August') 15200
(2000, 'December') 40960
(2000, 'February') 40870
(2000, 'January') 18310
(2000, 'July') 63820
(2000, 'June') 12460
(2000, 'March') 10110
(2000, 'May') 61080
(2000, 'November') 93080
(2000, 'October') 89980
(2000, 'September') 71250
(2001, 'April') 59620
(2001, 'August') 63450
(2001, 'December') 22500
(2001, 'February') 69640
(2001, 'January') 42690
(2001, 'July') 44950
(2001, 'June') 20590
(2001, 'March') 62440
(2001, 'May') 20470
(2001, 'November') 36780
(2001, 'October') 132640
(2001, 'September') 68790
(2002, 'April') 36800
(2002, 'August') 32500
(2002, 'December') 59200
(2002, 'February') 45300
(2002, 'January') 29100
(2002, 'July') 77900
(2002, 'June') 17100
(2002, 'March') 39000
(2002, 'May') 90800
(2002, 'November') 81600
(2002, 'October') 51300
(2002, 'September') 24800
(2003, 'April') 15700
(2003, 'August') 10300
(2003, 'December') 51800
(2003, 'February') 15800
(2003, 'January') 75000
(2003, 'July') 39000
(2003, 'June') 53600
(2003, 'March') 12400
(2003, 'May') 31300
(2003, 'November') 61300
(2003, 'October') 19200
(2003, 'September') 8800
(2004, 'April') 41200
(2004, 'August') 59800
(2004, 'December') 77600
(2004, 'February') 34500
(2004, 'January') 95700
(2004, 'July') 27000
(2004, 'June') 17000
(2004, 'March') 18800
(2004, 'May') 47400
(2004, 'November') 47400
(2004, 'October') 69500
(2004, 'September') 18300
(2005, 'April') 29800
(2005, 'August') 58400
(2005, 'December') 14000
(2005, 'February') 26800
(2005, 'January') 57500
(2005, 'July') 26400
(2005, 'June') 16900
(2005, 'March') 42000
(2005, 'May') 45600
(2005, 'November') 51300
(2005, 'October') 174600
(2005, 'September') 124400
(2006, 'April') 15400
(2006, 'August') 76900
(2006, 'December') 53900
(2006, 'February') 20500
(2006, 'January') 12300
(2006, 'July') 42200
(2006, 'June') 18100
(2006, 'March') 26800
(2006, 'May') 58000
(2006, 'November') 57600
(2006, 'October') 65300
(2006, 'September') 43900
(2007, 'April') 400
(2007, 'August') 74520
(2007, 'December') 50502
(2007, 'February') 75800
(2007, 'January') 63800
(2007, 'July') 53113
(2007, 'June') 48423
(2007, 'March') 72700
(2007, 'May') 115400
(2007, 'November') 27091
(2007, 'October') 38549
(2007, 'September') 78718
(2008, 'April') 40365
(2008, 'August') 30872
(2008, 'December') 18250
(2008, 'February') 11026
(2008, 'January') 63029
(2008, 'July') 45349
(2008, 'June') 27595
(2008, 'March') 111959
(2008, 'May') 65980
(2008, 'November') 44030
(2008, 'October') 30720
(2008, 'September') 36750
(2009, 'April') 4520
(2009, 'August') 61760
(2009, 'December') 40340
(2009, 'February') 15780
(2009, 'January') 29920
(2009, 'July') 18440
(2009, 'June') 11690
(2009, 'March') 16240
(2009, 'May') 14720
(2009, 'November') 97150
(2009, 'October') 27860
(2009, 'September') 9720
(2010, 'April') 10
(2010, 'August') 143130
(2010, 'December') 10900
(2010, 'February') 9510
(2010, 'January') 28800
(2010, 'July') 14960
(2010, 'June') 24970
(2010, 'March') 5450
(2010, 'May') 8860
(2010, 'November') 19760
(2010, 'October') 46840
(2010, 'September') 44140
(2011, 'April') 3720
(2011, 'August') 107290
(2011, 'December') 34750
(2011, 'February') 204560
(2011, 'January') 20790
(2011, 'July') 27400
(2011, 'June') 76340
(2011, 'March') 5330
(2011, 'May') 67830
(2011, 'November') 38140
(2011, 'October') 1050
(2011, 'September') 489270
(2012, 'April') 70270
(2012, 'August') 76050
(2012, 'December') 63390
(2012, 'February') 14070
(2012, 'January') 30700
(2012, 'July') 124220
(2012, 'June') 111620
(2012, 'March') 24120
(2012, 'May') 56140
(2012, 'November') 72460
(2012, 'October') 56490
(2012, 'September') 29110
(2013, 'April') 29230
(2013, 'August') 47900
(2013, 'December') 30750
(2013, 'February') 13620
(2013, 'January') 26740
(2013, 'July') 36120
(2013, 'June') 16940
(2013, 'March') 38530
(2013, 'May') 45930
(2013, 'November') 35260
(2013, 'October') 67500
(2013, 'September') 36500
(2014, 'April') 12390
(2014, 'August') 80320
(2014, 'December') 27410
(2014, 'February') 45950
(2014, 'January') 58230
(2014, 'July') 45630
(2014, 'June') 65210
(2014, 'March') 15400
(2014, 'May') 64880
(2014, 'November') 46030
(2014, 'October') 56090
(2014, 'September') 17360
(2015, 'April') 19230
(2015, 'August') 49120
(2015, 'December') 91310
(2015, 'February') 24810
(2015, 'January') 43060
(2015, 'July') 112360
(2015, 'June') 16440
(2015, 'March') 15170
(2015, 'May') 33580
(2015, 'November') 37380
(2015, 'October') 33030
(2015, 'September') 32250
(2016, 'April') 159320
(2016, 'August') 39330
(2016, 'December') 19310
(2016, 'February') 12390
(2016, 'January') 18480
(2016, 'July') 23370
(2016, 'June') 75810
(2016, 'March') 62330
(2016, 'May') 85010
(2016, 'November') 165660
(2016, 'October') 39080
(2016, 'September') 32010
(2017, 'April') 21750
(2017, 'August') 81120
(2017, 'December') 105330
(2017, 'February') 31980
(2017, 'January') 32260
(2017, 'July') 94270
(2017, 'June') 60810
(2017, 'March') 22970
(2017, 'May') 47860
(2017, 'November') 38160
(2017, 'October') 24170
(2017, 'September') 50430
(2018, 'April') 48430
(2018, 'August') 46020
(2018, 'December') 33010
(2018, 'February') 26290
(2018, 'January') 30490
(2018, 'July') 20810
(2018, 'June') 1520
(2018, 'March') 48540
(2018, 'May') 42640
(2018, 'November') 19390
(2018, 'October') 54390
(2018, 'September') 29280
(2019, 'April') 17180
(2019, 'August') 41330
(2019, 'December') 48810
(2019, 'February') 18690
(2019, 'January') 15750
(2019, 'July') 29550
(2019, 'June') 129000
(2019, 'March') 21780
(2019, 'May') 43590
(2019, 'November') 36140
(2019, 'October') 53970
(2019, 'September') 36470
(2020, 'April') 18540
(2020, 'August') 96140
(2020, 'December') 0
(2020, 'February') 47020
(2020, 'January') 27790
(2020, 'July') 40820
(2020, 'June') 37940
(2020, 'March') 12950
(2020, 'May') 5830
(2020, 'November') 0
(2020, 'October') 0
(2020, 'September') 1090
(2021, 'April') 2900
(2021, 'August') 362730
(2021, 'December') 23450
(2021, 'February') 26940
(2021, 'January') 118470
(2021, 'July') 47020
(2021, 'June') 36440
(2021, 'March') 31060
(2021, 'May') 58190
(2021, 'November') 11650
(2021, 'October') 42120
(2021, 'September') 148640

Year  Month
2011  September    489270
2021  August       362730
2011  February     204560
2005  October      174600
1995  September    168510
2016  November     165660
      April        159320
1997  June         152720
2021  September    148640
2010  August       143130
Name: Rainfall, dtype: int64

In [19]:
# create a new dataframe storing the above information
data = {'YearMonth':[],'Rainfall':[]}
for group_key, group_value in Month_Group:
    data['YearMonth'].append(group_key)
    data['Rainfall'].append(Month_Group.get_group(group_key)['Rainfall'].sum())

df1 = pd.DataFrame(data)
df1.iloc[df1['Rainfall'].nlargest(1).index[0]]
df1['Rainfall'].idxmax()

# or we can reset the index
df1.set_index('YearMonth', inplace=True)
df1['Rainfall'].sort_values(ascending=False)

YearMonth
(2011, September)    489270
(2021, August)       362730
(2011, February)     204560
(2005, October)      174600
(1995, September)    168510
                      ...
(2010, April)            10
(2020, November)          0
(2020, October)           0
(1995, June)              0
(2020, December)          0
Name: Rainfall, Length: 319, dtype: int64

In [20]:
df['Rainfall'].corr(df['Temperature'])

0.0014223532480276558

In [21]:
df.isnull()
df.notnull()
df[df['DewPoint'].isnull()]
df['DewPoint'].fillna(df['DewPoint'].median(),inplace=True)
df.dropna(how='any',inplace=True)
df[df['Temperature'].isnull()].shape

(0, 13)

In [22]:
# Binning data
df['Rainfall'].describe()
bins = [-2000,-0.0001,30,100,300,1000,3000,50000]
dist = pd.cut(df['Rainfall'],bins)
pd.value_counts(dist)

(-0.0001, 30.0]       411200
(30.0, 100.0]           9271
(100.0, 300.0]          8614
(300.0, 1000.0]         7560
(1000.0, 3000.0]        2541
(3000.0, 50000.0]        598
(-2000.0, -0.0001]         7
Name: Rainfall, dtype: int64

In [23]:
# Find outliers
filter = (df['Temperature']>df['Temperature'].mean()+3*df['Temperature'].std()) | (df['Temperature']<df['Temperature'].mean()-3*df['Temperature'].std())
df[filter].sort_values(['Temperature','Rainfall'],ascending=[True,False]).head(10)

,Temperature,Humidity,DewPoint,Pressure,MeanWindSpeed,AveWindBearing,Sunshine,Rainfall,MaxWindSpeed,WeekDay,Month,Year,Time
Datetime,,,,,,,,,,,,,
2016-01-09 00:00:00,-40.0,15.0,-56.7,27.04948,260.0,45.0,1269,160,260.0,Saturday,January,2016,00:00
2015-11-22 23:00:00,-40.0,100.0,-39.9,34.10715,1443.0,0.0,5006,30,2550.0,Sunday,November,2015,23:00
2016-01-08 23:30:00,-40.0,15.0,-56.7,27.04948,260.0,45.0,1323,30,260.0,Friday,January,2016,23:30
2015-11-23 00:00:00,-40.0,100.0,-39.9,30.97697,1395.0,0.0,6524,0,2550.0,Monday,November,2015,00:00
2015-11-23 02:00:00,-40.0,100.0,-39.9,29.88436,1394.0,0.0,6409,0,2550.0,Monday,November,2015,02:00
2015-11-23 03:30:00,-40.0,100.0,-39.9,30.97697,1500.0,0.0,7100,0,2550.0,Monday,November,2015,03:30
2015-11-23 09:00:00,-40.0,100.0,-39.9,30.97697,1428.0,0.0,7071,0,2550.0,Monday,November,2015,09:00
2015-11-23 09:30:00,-40.0,100.0,-39.9,30.97697,1442.0,0.0,6228,0,2550.0,Monday,November,2015,09:30
2015-11-23 10:00:00,-40.0,100.0,-39.9,30.97697,1387.0,0.0,6357,0,2550.0,Monday,November,2015,10:00
2015-11-23 11:00:00,-40.0,100.0,-39.9,26.63606,710.0,0.0,3627,0,1490.0,Monday,November,2015,11:00

In [24]:
df['RainyDay']='No'

In [25]:
df.loc[df['Rainfall']>0,'RainyDay']='Yes' # conditional change

In [26]:
df[df['Rainfall']>0]
df['RainyDay'] = df['RainyDay'].map({'Yes':1,'No':0})
df

,Temperature,Humidity,DewPoint,Pressure,MeanWindSpeed,AveWindBearing,Sunshine,Rainfall,MaxWindSpeed,WeekDay,Month,Year,Time,RainyDay
Datetime,,,,,,,,,,,,,,
1995-06-30 15:00:00,29.5,43.0,15.6,29.91389,14.0,225.0,1044,0,14.0,Friday,June,1995,15:00,0
1995-06-30 15:30:00,30.5,36.0,14.0,29.91389,13.0,315.0,50,0,13.0,Friday,June,1995,15:30,0
1995-06-30 16:00:00,31.1,41.0,16.3,29.91389,12.0,315.0,51,0,12.0,Friday,June,1995,16:00,0
1995-06-30 16:30:00,32.2,43.0,18.1,29.91389,2.0,315.0,50,0,2.0,Friday,June,1995,16:30,0
1995-06-30 17:00:00,32.7,41.0,17.8,29.91389,8.0,225.0,51,0,8.0,Friday,June,1995,17:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-23 10:30:00,5.2,99.0,5.0,29.70718,25.0,180.0,0,0,120.0,Thursday,December,2021,10:30,0
2021-12-23 11:00:00,5.6,98.0,5.3,29.67765,6.0,135.0,0,0,60.0,Thursday,December,2021,11:00,0
2021-12-23 11:30:00,5.6,96.0,5.0,29.67765,13.0,180.0,0,0,80.0,Thursday,December,2021,11:30,0
2021-12-23 12:00:00,6.0,94.0,5.1,29.67765,20.0,180.0,0,0,100.0,Thursday,December,2021,12:00,0
2021-12-23 12:30:00,6.4,90.0,4.9,29.64812,48.0,180.0,0,0,140.0,Thursday,December,2021,12:30,0